.header__link {
  color: white;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .header__link {
    font-size: 14px;
    line-height: 1.21;
  }
}
