.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
  transition: opacity 0.2s ease-in-out;
}

.profile__avatar:hover {
  opacity: 0.2;
  cursor: pointer;
}

@media screen and (max-width: 619px) {
  .profile__avatar {
    margin: 0 0 26px 0;
    margin-bottom: 26px;
  }
}
